 .u-section-1 {
  background-image: linear-gradient(#478ac9, white);
}

.u-section-1 .u-sheet-1 {
  min-height: 752px;
}

.u-section-1 .u-text-1 {
  margin: 52px 822px 0 32px;
}

.u-section-1 .u-text-2 {
  margin: 15px auto 0;
}

.u-section-1 .u-gallery-1 {
  height: 465px;
  margin-top: 17px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-1 .u-carousel-item-1 {
  transition-duration: 0.25s;
  --effect-scale: 0.25;
  margin-right: 0;
}

.u-section-1 .u-back-image-1 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-2 {
  transition-duration: 0.25s;
  --effect-scale: 0.25;
  margin-right: 0;
}

.u-section-1 .u-back-image-2 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-3 {
  transition-duration: 0.25s;
  --effect-scale: 0.25;
  margin-right: 0;
}

.u-section-1 .u-back-image-3 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-4 {
  transition-duration: 0.25s;
  --effect-scale: 0.25;
  margin-right: 0;
}

.u-section-1 .u-back-image-4 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-5 {
  transition-duration: 0.25s;
  --effect-scale: 0.25;
  margin-right: 0;
}

.u-section-1 .u-back-image-5 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 42px;
  height: 42px;
  background-image: linear-gradient(white, #478ac9);
  padding: 9px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 42px;
  height: 42px;
  background-image: linear-gradient(white, #478ac9);
  left: auto;
  right: 10px;
  padding: 9px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 51px;
    margin-right: 629px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 16px;
  }

  .u-section-1 .u-back-image-1 {
    width: auto;
  }

  .u-section-1 .u-over-slide-1 {
    min-height: 100px;
  }

  .u-section-1 .u-back-image-2 {
    width: auto;
  }

  .u-section-1 .u-over-slide-2 {
    min-height: 100px;
  }

  .u-section-1 .u-back-image-3 {
    width: auto;
  }

  .u-section-1 .u-over-slide-3 {
    min-height: 100px;
  }

  .u-section-1 .u-back-image-4 {
    width: auto;
  }

  .u-section-1 .u-over-slide-4 {
    min-height: 100px;
  }

  .u-section-1 .u-back-image-5 {
    width: auto;
  }

  .u-section-1 .u-over-slide-5 {
    min-height: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 41px;
    margin-right: 415px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 26px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 35px;
    margin-right: 226px;
    margin-left: -15px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 32px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 38px;
    margin-right: 108px;
    margin-left: -24px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 29px;
  }
} .u-section-2 {
  background-image: linear-gradient(white, #478ac9);
}

.u-section-2 .u-sheet-1 {
  min-height: 544px;
}

.u-section-2 .u-text-1 {
  width: 96px;
  margin: 0 auto;
}

.u-section-2 .u-gallery-1 {
  height: 423px;
  margin-top: 15px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
  --effect-scale: 0.25;
}

.u-section-2 .u-back-image-1 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
  --effect-scale: 0.25;
}

.u-section-2 .u-back-image-2 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
  --effect-scale: 0.25;
}

.u-section-2 .u-back-image-3 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: linear-gradient(#478ac9, white);
  padding: 8px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: linear-gradient(#478ac9, white);
  left: auto;
  right: 10px;
  padding: 8px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 17px;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 13px;
  }

  .u-section-2 .u-back-image-1 {
    width: auto;
  }

  .u-section-2 .u-back-image-2 {
    width: auto;
  }

  .u-section-2 .u-back-image-3 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: 10px;
    margin-left: auto;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 5px;
  }
} .u-section-3 {
  background-image: linear-gradient(#478ac9, white);
}

.u-section-3 .u-sheet-1 {
  min-height: 594px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto;
}

.u-section-3 .u-gallery-1 {
  height: 423px;
  grid-gap: 17px 17px;
  margin-top: 7px;
  margin-bottom: 60px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-back-image-1 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-back-image-2 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-back-image-3 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: linear-gradient(white, #478ac9);
  padding: 8px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: linear-gradient(white, #478ac9);
  padding: 8px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-back-image-1 {
    width: auto;
  }

  .u-section-3 .u-back-image-2 {
    width: auto;
  }

  .u-section-3 .u-back-image-3 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
} .u-section-4 {
  background-image: linear-gradient(white, #478ac9);
}

.u-section-4 .u-sheet-1 {
  min-height: 450px;
}

.u-section-4 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 64px 787px 0 169px;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: 28px 144px 0 194px;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 26px auto 60px;
  padding: 10px 421px 10px 420px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: 803px;
    margin-right: 687px;
    margin-left: 69px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-left: 69px;
    margin-right: 69px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 41px;
    margin-left: -26px;
    margin-right: -26px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-4 .u-text-1 {
    width: 720px;
    margin-top: 62px;
    margin-right: 536px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
    padding-left: 284px;
    padding-right: 284px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 15px;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 14px;
  }

  .u-section-4 .u-btn-1 {
    padding-left: 194px;
    padding-right: 194px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 156px;
  }

  .u-section-4 .u-btn-1 {
    padding-left: 94px;
    padding-right: 94px;
  }
}